section#home {
  .content {
    gap: 3rem;
  }

  .col-a {
    display: flex;
    flex-direction: column;

    .greeting {
      font-size: 2rem;
      color: var(--text-color-gray);
    }

    .title-container {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 4rem;
        margin: 2rem 0 -.4rem;

        &::after {
          content: '|';
          margin-left: .5rem;
          color: var(--text-color);

          animation: blink 800ms infinite;
        }
      }

      .job {
        font-size: 2rem;
        color: var(--secondary-color);

        &::after {
          content: '|';
          margin-left: .5rem;
          color: var(--secondary-color);

          animation: blink 800ms infinite;
        }
      }
    }

    .description {
      color: var(--text-color-gray);
      margin: 2rem 0 4rem;
      text-align: justify;
    }

    .btn-socials {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .col-b {
    margin-left: auto;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  section#home .content {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 8rem;

    .title-container {
      .title {
        font-size: 3rem;
      }

      .job {
        font-size: 1.8rem;
      }
    }

    .col-b {
      margin: 0 auto;
    }
  }
}